{% extends 'blog/homepage.html' %}
{% load static %}
{% block seo %}
<title>Contant us </title>
<!-- Primary Meta Tags -->
<meta name="title" content="Contant us">
<meta name="description" content="If you have any question or comment submit connect us form to raise your Query">
<meta name="keywords" content="HTML, aboutus , CSS, JavaScript, Django , CodeWithdurgesh , codewithdurgesh ,code with durgesh ,  Blogs , Blog">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{current_path}}">
<meta property="og:title" content="Contant us">
<meta property="og:description" content="If you have any question or comment submit connect us form to raise your Query">
<meta property="og:image" content="https://res.cloudinary.com/anmoldev/image/upload/v1645629950/Screenshot_from_2022-02-23_20-53-28_aynez4.png">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{current_path}}">
<meta property="twitter:title" content="Contant us">
<meta property="twitter:description" content="If you have any question or comment submit connect us form to raise your Query">
<meta property="twitter:image" content="https://res.cloudinary.com/anmoldev/image/upload/v1645629950/Screenshot_from_2022-02-23_20-53-28_aynez4.png">
{% endblock seo %}
{% block main %}
<div class="mt-28 mb-6 lg:my-10 mx-2 lg:mx-10">
    <div class="my-10 text-center font-semibold underline text-2xl">
        Contact us
    </div>
    <div class="text-sm text-red-700 my-3">
        Your email address will not be published. Required fields are marked *
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="grid xl:grid-cols-2 xl:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <input type="email" name="email" id="email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required="">
                <label for="email"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email Address *
                    </label>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="name" id="name"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required="">
                <label for="name"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Full Name *</label>
            </div>
        </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="contact_query" id="contact_query"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300  appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required="">
                <label for="contact_query"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contact Query * </label>
            </div>
        
        <div class="relative z-0 mb-6 w-full group">
            <textarea id="message" name="message" rows="4" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "></textarea>
            <label for="message" class="absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Leave a comment... *</label>
        </div>
        <div class="relative z-0 mb-6 w-full group">
            <input type="text" name="reference_link" id="reference_link"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" ">
            <label for="reference_link"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Application Reference Link </label>
        </div>
        <div id="captchacodechecker" class="my-3"></div>
        <button id="checkcaptcha" type="submit" class="text-white disabled:bg-blue-400 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" disabled>Submit</button>
    </form>

</div>
<script src="https://res.cloudinary.com/anmoldev/raw/upload/v1645049473/captcha/captchachecker_bwivlh.js"></script>
{% endblock main %}