{% extends 'blog/dashboard.html' %}
{% load static %}
{% block seo %}
        <title>{% if blog %}Add Blog Post{% else %} Add FresherJob Post {% endif %} </title>
        <meta name="title" content="{% if blog %}Add Blog Post{% else %} Add FresherJob Post {% endif %} ">
        <meta name="description" content="{% if blog %}Add Blog Post{% else %} Add FresherJob Post {% endif %} on CodeWithdurgesh">
{% endblock seo %}
{% block Dashboard %}
<div class="lg:mx-10 lg:mt-10 my-5 lg:mb-20 mb-32 mx-5"> 
    {% if blog %}
        
    <div class="lg:text-4xl text-xl ">
        Add Blog : 
    </div>
    <div class=" my-2 lg:mt-10 font-serif shadow-md rounded-lg bg-white p-4">
        <div class="lg:text-xl mb-5 text-md">
            Blog Title :  <span class="text-sm text-red-700">*** This title will be the url (slug) for this post and it's not editable ***</span>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="blog_title" id="blog_title" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="blog_title" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Blog Title</label>
            </div>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save as Draft</button>
        </form>
    </div>
    {% else %}
    <div class="lg:text-4xl text-xl ">
        Add FresherJob : 
    </div>
    <div class=" my-2 lg:mt-10 font-serif shadow-md rounded-lg bg-white p-4">
        <div class="lg:text-xl mb-5 text-md">
            FresherJob Title :  <span class="text-sm text-red-700">*** This title will be the url (slug) for this post and it's not editable ***</span>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="fresher_title" id="fresher_title" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="fresher_title" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">FresherJob Title</label>
            </div>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save as Draft</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock Dashboard %}
